{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "fetch": true,
    "alert": true,
    "it": true
  },
  "rules": {
    "react/forbid-prop-types": [2, { "forbid": ["any", "object"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": [2, { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__", "_bar"] }],
    "no-unused-expressions": [2, { "allowTernary": true }]
  },
  "env": {
    "browser": true
  }
}