.Header {
  text-align: center;
  height: 80px;
  background: black;
}
.Header h1 {
  color: white;
  vertical-align: middle;
  font-size: 36px;
  padding-top: 20px;
}
.additionalInfo {
  padding-left: 15px;
  padding-top: 10px;
}
.additionalInfoRow {
  height: 40px;
}

